@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "SignatureManual";
  src: url("/fonts/Kallinsha.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: #0a0a0a;
  color: #ededed;
}
