@import "tailwindcss";
/* * {
  outline: 1px solid red;
} */
:root {
  --background: #0a0a0a;
  --inactive-link: #525252;
  --active-link: #ededed;
  --active-section: #d4b572;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
